// .rootblue{
    $skyblue:rgb(41, 168, 252);
    $skyblue-users:rgba(41, 168, 252,0.4);
// }
// .rootpink{
    $pink:rgb(252, 41, 241);
    $pink-users:rgba(252, 41, 217, 0.4);
// }
// .rootorange{
    $orange:rgb(252, 136, 41);
    $orange-users:rgba(252, 143, 41, 0.4);
// }
// .rootgray{
    $gray:rgb(100, 100, 100);
    $gray-users:rgba(95, 95, 95, 0.4);
// }